<div class="container">
  <app-navbar></app-navbar>
  <div class="jumbotron">
    
  
        <img style="float: right;" alt="" src="assets/images/team.jpg" height="300" width="350" />
        <div style="clear: right">
            <h2>Contact Us</h2> 
            <hr width = "30%" align = top>
            <div class="clearfix">
            <h4 style="font-size: 150%"><b>Address</b></h4>
            
                  <p style="text-align:left;font-size: 130%" >
                    Bonhoefferstr. 4/1<br>
                    Heidelberg, Germany
                    
                    </p>
                
                <h3 style = "text-align: left">
                <b>Contact</b>
                </h3>
                <p style = "text-align: left; font-size:120% " >
                    06221 882288
                </p >
        </div>  
  
       <!-- <div style="display: flex; justify-content: right;">
            <img src="assets/images/team.jpg" alt = "Sport's club team" align = "right" height="300" width="350" 
            style="float: right;"/>
       
        </div>-->
      </div>
  </div>
  </div>
  