  .btn {
    background-color: #008CBA;
    ;
    /* Green */
    border: 1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 270px;
    -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
  }
  .btn:hover {
    background-color: #3e8e41
  }
  .btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px rgb(14, 11, 11);
    transform: translateY(4px);
  }
  .main__body {
    height: 100%;
    background-color: #068d49;
    background-image: url('assets/images/srh.jpg');
    background-size: cover;
  }

  .text-success{
color: white;
    text-decoration: underline;
    text-decoration-color: white;
    text-align: center;
    font-style: bold;  
  }
  .btn-reset:hover {
    background-color: #3e8e41
  }
  .btn-reset {
    padding: 10px 25px;
  }