<div class="container">
  <app-navbar></app-navbar>
  <div class="jumbotron">
    <div style="display: flex; justify-content: center;"><img src="assets/images/sports.jpg"></div>
    <h2>Our Range</h2>
    <p>Our club offers a variety of sports and leisure activities, a 
      swimming pool and sauna area a unique opportunity in the region
      to do sports.<br/><br/>
      On modern strength and endurance equipment, 
      you can train your fitness and realize individual goals. 
      We also offer a lot of space for team sports: A sports hall with climbing wall, 
      basketball hoops and football goals as well as an outdoor area with a street 
      soccer system and a volleyball court are at your disposal. <br/><br/>

      Our special equipment also includes an indoor pool with 25 meters,
       where you can z. B. can keep fit with aqua classes. 
       Our sauna and wellness area invites you afterwards to relax.
    </p>
  
  
  
  </div>